<%= link_to 'HELLO BRENDA', articles_path %>
<div class='row'>
<div class='col-md-12'>
  <h1><%= @article.title %></h1>
  <p><%= @article.content %></p>
</div>
</div> 
<div class='row'>
  <h3> images to go here</h3> 
  <div class='col-sm-6 alert'>
</div>
<div class='row'>
<div class='col-md-12'>
