// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button_to {
  background: red;

  input[type='submit'] {
    background: green;
  }
}
p {
  padding: 2%;
}
.comments-container, .spinner {
	display: none;
}

#hello {
  border: solid red;
  margin-left: 10px;
}


.image {
  border: solid black;
  z-index: 0
}

.col-md-4 .article-image  {
  border: dashed yellow;
  position: relative;
}

.taglist {
  border: solid purple;
  position: absolute;
  top: 50%;
  width: 93%;
  background: rgba(255,255,255,0.8);
}
